/**
 * Micro clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* =============== END CLEARIX STLYES ============== */

/* -------------------------------------------------------------------------- */




/* =============== GENERAL STYLES ============== */

main {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
#masthead nav,
.jm-col-4 .screen-caption {
  font-family: 'Londrina Solid', cursive;
  text-transform: uppercase;
  color:#9aa59f;
  font-weight: 400;
}

html, body {
  height:100%;
}

a {
  text-decoration:none;
  color:#4ead79;
}

a:hover {
  color:#52CE8A;
}

.post-content {
  font-size:18px;
}

.post-content header {
  margin-bottom:60px;
}

.post-content code {
  padding: 20px 30px;
  font-size: 13px;
}

.container {
  max-width:1500px;
  padding-right: 70px;
  padding-left: 70px;
  margin-right: auto;
  margin-left: auto;
}

.site-footer {
  padding:40px 0;
  text-align:center;
}



/* =============== SITE HEADER ============== */

.logo-wrapper {
  float:left;
  margin-top: 22px;
}

.logo-wrapper img {
  max-width:100%;
  height:auto;
}

#masthead {
  padding-top:100px;
}


/* =============== MAIN NAVIGATION AREA ============== */

.nav-wrapper,
.nav-wrapper nav,
.nav-wrapper nav li { float:right; }

.nav-wrapper nav li {
  float:left;
  padding: 0 15px;
}
.nav-wrapper nav li a {
  position: relative;
  display: block;
  font-size:43px;
  border-bottom: 7px solid #FFF;
  transition: color ease 0.2s, border ease 0.2s;
}

.nav-wrapper .nav i {
  opacity:0.3;
  text-align: center;
  display: block;
  color: #B8C1BD;
  font-size: 60px;
  transition: opacity ease 0.2s;
}

.nav-wrapper nav li a:hover i {
  opacity:1;
}

.nav-wrapper nav li a:hover {
  border-bottom: 7px solid #F1F1F1;
}

.nav-wrapper .nav {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.nav-wrapper .thumbs-up-man {
  float:right;
  margin: -51px -4px 0 -35px;
}

.thumbs-up-man.responsive {
  display:none;
  width: 17.8%;
  height: auto;
  vertical-align: bottom;
}





/* =============== PAGE CONTENT ============== */


.page-caption {
  font-size:23px;
  text-align:center;
}



.header-info {
  width:100%;
  padding: 20px 0;
  color:gray;
  font-size:23px;
}

.my-email { float:right; }

.my-email, .website-url, .page-caption, .portfolio-grid .screen-info, .coming-soon-info, .portfolio-link { color:#9faba4; }

.header-info,
.website-url { float:left; }

.nav-wrapper nav li a:hover {
  color: #8B948F;
}

h1 {
  font-size:120px;
}
h1.page-title {
  margin:0;
  text-align:center;
  line-height: 0.9em;
}

.portfolio-link { font-size:25px; font-weight:600; text-align:center; margin-bottom: 80px; }




/* =============== PORTFOLIO GRID ============== */

.portfolio-grid .jm-col-4 {
  width: 31.33%;
  float: left;
  margin-right: 3%;
  margin-bottom: 50px;
}

.portfolio-grid img {
  width:100%;
  height:auto;
  transition:width ease 0.3s, margin ease 0.3s;
}
.portfolio-grid .screen-image.border {
  box-shadow: 0 1px 0 0px #D0CBCB;
}

.portfolio-grid .jm-col-4:hover img {
  max-width:110%;
  width:110%;
  margin-left:-5%;
}

.portfolio-grid .jm-col-4:nth-of-type(3n) { margin-right:0; }

.portfolio-grid .screen-image {
  overflow: hidden;
}

.portfolio-grid .screen-caption {
  font-size:30px;
  text-align: center;
  margin-top: 25px;
}

.portfolio-grid .screen-info {
  font-size:13px;
  text-align: center;
}

.portfolio-grid .ideal-v img { max-width:111%; }
.portfolio-grid .ideal-v:hover img { max-width:121%; }

.screen-image .inner {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: silver;
}

.portfolio-grid .screen-image {
    width: 100%;
    padding-top: 57.5%; /* defines aspect ratio */
    position: relative;
}





/* =============== GROUPED STYLES ============== */


.page-caption,
.header-info,
.portfolio-grid .screen-info,
.coming-soon-info,
.portfolio-link {
  font-family: 'Source Code Pro', 'Arial, Helvetica';
}





/* =============== ADDITIONS FOR PLAYGROUND PAGE ============== */


.acc-content { display:none; }
	.accordion-holder,
	.alt-accordion-holder {
		font-family: 'Source Code Pro', 'Arial, Helvetica';
		color: #9faba4;
		padding-bottom: 40px;
	}
	.acc-title,
	.accordion-title,
	.tab-list a,
	.tab-panel {
		background: #EAEDEB;
		padding: 20px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		border-bottom: 10px solid white;
		display: block;
	}
	.acc-title h2,
	.accordion-title h3,
	.tab-list h2 {
		float: left;
		margin: 0;
		color: #50AF7B;
	}
	.tab-list h2 {
		margin-right: 10px;
	}
	.acc-title:after,
	.accordion-title:after {
		content: '+';
		font-family: 'Londrina Solid', cursive;
		font-size: 40px;
		line-height: 0.6;
		display: block;
		color: #50AF7B;
		position: absolute;
		right: 20px;
	}
	.acc-title.opened:after,
	.accordion-title.active:after {
		content: '-';
	}
	.acc-title h2,
	.accordion-title h3 {
		padding-right: 30px;
	}
	.accordion-content,
	.acc-content {
		padding: 0 20px;
	}
	.accordion-content p,
	.acc-content p {
		margin: 10px 0 30px;
		font-size: 17px;
	}
	.jm-row {
		clear: both;
    margin-bottom: 20px;
	}

	[class*="jm-col-"] {
		padding: 0 1.5%;
		box-sizing: border-box;
		float: left;
	}
	.jm-col-4 { width: 33.33%; }
	.jm-col-8 { width: 66.66%; }
	.jm-col-12 { width: 100%; }

	.tab-panel {
		display: none;
		color: white;
		text-shadow: 0px 0px 35px rgba(0,0,0,0.2);
	}
	.tab-panel.active { display: block;	}

	#tab-1 { background: #ED7777; }
	#tab-2 { background: #79D3A3; }
	#tab-3 { background: #77B5ED; }


	.parallax-container {
		background: url('../img/vegas-bg.jpg');
		height: 320px;
		overflow: hidden;
	}

	.parallax-container h2 {
		text-align: center;
		top: 50px;
		margin: 0;
		position: relative;
		color: white;
		font-size: 85px;
	}

	.jm-container-full {
		margin-left: -70px;
		padding-left: 70px;
		width: 100%;
		background: black;
		padding-right: 70px;
    margin-bottom: 50px;
	}

	@media only screen and (max-width: 1050px) {
		.acc-title,
		.accordion-title {
			padding: 15px;
		}
		.acc-title h2,
		.accordion-title h3 {
			font-size: 20px;
		}
		.acc-title:after,
		.accordion-title:after {
			right: 15px;
		}
	}

	@media only screen and (max-width: 700px) {
		[class*="jm-col"] {
			width: 100%;
		}
	}














/* =============== MEDIA QUERIES ============== */


@media only screen and (max-width:1300px) {

  #masthead {
    padding-top: 50px;
  }

  .nav-wrapper {
    margin-top:20px;
  }

  .logo-wrapper {
    width:100%;
  }

  .header-info {
    width:290px;
    padding: 69px 0 0;
  }

  .my-email, .website-url { float:left; }

  h1.page-title {
    margin: 50px 0 0;
  }

}

@media only screen and (max-width:970px) {

  .portfolio-grid.post-content .jm-col-4 {
    width: 47.5%;
    float: left;
    margin-right: 5%;
  }

  .portfolio-grid.post-content .jm-col-4:nth-of-type(2n) {
    margin-right:0;
  }

  .header-info {
    width: 100%;
    padding-top:9px;
  }

  .header-info .my-email {
    float: right;
  }

  h1.page-title {
    padding-top: 20px;
  }

}

@media only screen and (max-width: 775px) {

  .nav-wrapper {
    margin-top: 60px;
  }

}

@media only screen and (max-width: 670px) {

  .portfolio-grid.post-content .jm-col-4 {
    width: 100%;
    margin-right:0;
  }

  h1 {
    font-size: 80px;
  }

  .page-caption, .header-info {
    font-size:19px;
  }

  .thumbs-up-man { display:none; }
  .thumbs-up-man.responsive { display:inline-block; }

  .logo-wrapper {
    width:80.5%;
    float:none;
    display:inline-block;
    vertical-align: bottom;
  }

  .nav-wrapper nav li a {
    font-size: 36px;
  }

  .nav-wrapper {
    width: 100%;
    text-align: center;
    margin-top:30px;
  }

  .nav-wrapper nav {
    float: none;
    display:inline-block;
  }

  #masthead {
    padding-top: 30px;
  }

  .page-caption, .header-info {
    font-size: 17px;
  }


}

@media only screen and (max-width: 540px) {

  .nav-wrapper nav li a {
    font-size: 30px;
  }

  .nav-wrapper nav li {
    padding: 0 12px;
  }

  .container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .my-email, .website-url {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }

  .header-info {
    padding-top: 0px;
  }

}


@media only screen and (max-width: 420px) {

  h1 {
    font-size: 60px;
  }

  .nav-wrapper nav li {
    padding: 0 7px;
  }

  .nav-wrapper nav li a {
    font-size: 25px;
  }

  .nav-wrapper .nav i {
    font-size: 50px;
  }

}

@media only screen and (max-width: 360px) {

  .logo-wrapper {
    width: 100%;
  }

  .nav-wrapper nav li a {
    font-size: 22px;
  }

  h1 {
    font-size: 50px;
  }

  .thumbs-up-man.responsive {
    display: none;
  }

}
